<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anonymous.librarian">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RFC Secunderabad"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IssueBookPhaseOne"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssuedBookPhaseTwo"
            android:parentActivityName=".IssueBookPhaseOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssueBookFinalPhase"
            android:parentActivityName=".IssuedBookPhaseTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReturnBook"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReturnBookFinalPhase"
            android:parentActivityName=".ReturnBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewSubscribers"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubscriberDetails"
            android:parentActivityName=".ViewSubscribers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCurrentlyIssuedBooks"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditSubscriberDetails"
            android:parentActivityName=".SubscriberDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSubscriber"
            android:parentActivityName=".ViewSubscribers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Credits"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssueToyPhaseOne"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssueToyPhaseTwo"
            android:parentActivityName=".IssueToyPhaseOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssueToyFinalPhase"
            android:parentActivityName=".IssueToyPhaseTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCurrentlyIssuedToys"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssuedToyDetail"
            android:parentActivityName=".ViewCurrentlyIssuedToys"
            android:screenOrientation="portrait" />
        <activity android:name=".SubscriberAnalysisGraphView" />
        <activity android:name=".IssuedBookDetail" />
        <activity android:name=".ViewBooks" />
        <activity android:name=".BookDetail" />
        <activity android:name=".AddBook" />
        <activity android:name=".ViewToys" />
        <activity android:name=".ToyDetail" />
        <activity android:name=".AddToy" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".BarcodeCaptureActivity"
            android:label="Read Barcode" />
        <activity android:name=".ScannedBookDetails"></activity>
    </application>

</manifest>